sentry-sdk
motor
pydantic
httpx
msal
pyjwt>=2.8.0
aiocache
apscheduler
motor
pyopenssl
cryptography==41.0.6
pyOpenSSL==22.1.0
openpyxl
twilio
fastapi
azure-identity
azure-keyvault-secrets
azure-keyvault-keys
pyotp
qrcode